.container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.img{
    padding-top: 100px;
    width: 200px;
}

.timer{
    font-size: 50px;
    margin-top: -135px;
}

.areaBtn{
    margin-top: 135px;
    display: flex;
}

.botao{
    width: 120px;
    background-color: #fff;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    margin: 0 15px;
    cursor: pointer;
    padding: 5px;
    transition: .6s;
}

.botao:hover{
    opacity: 0.9;
    background-color: #b1b0b0;
    color: #000;
}